.request {
    border: none;
    color: rgb(207, 207, 227); /* Text color */
    background-color: black; /* Background color */
    font-size: medium;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.8s, box-shadow 0.6s; /* Combine all transitions */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Correct box-shadow syntax */
    vertical-align: auto;
  }
  
  .request:hover {
    
    color: black; /* Change text color on hover */
    background-color: rgb(207, 207, 227); /* Change background color on hover */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8); /* Increase shadow intensity on hover */
    padding-right:20px;
    padding-left: 20px;
  }
  
  .request:active {
    opacity: 0.2; /* Adjust transparency on active click */
    box-shadow: none; /* Remove shadow on active state */
  }
  .paragraph{
  
  text-align: left;
  height: 0px;
  line-height: 0px;
  font-family: Roboto;
  }
  .now:hover{
  text-decoration: underline;
  cursor: pointer;
  }
  .now{
  color: red;
  }
  

.division{
  margin-top: 40px;
  border: 3px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  box-shadow: 3px;
  margin-right: 40px;
  vertical-align: auto;
  display: inline-block;/*it keeps the item in single block without border with inline function it wwould take only button space on page*/
  box-sizing: border-box;
}

.grid{
  /*by this we don't need to make each block inline function it auto mattivally adjust according to columns same goes for vertical aligning */
  display: grid;
  grid-template-columns: 60px 215px 70px ;
  column-gap: 11px;
  align-items: center;
  justify-items: center;
}

.button{
  border: none;
  color: rgb(207, 207, 227); /* Text color */
  background-color: black; /* Background color */
  font-size: medium;
  font-weight: bold;
  font-variant: small-caps;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.8s, box-shadow 0.6s; /* Combine all transitions */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Correct box-shadow syntax */
  vertical-align: auto;
  margin-left: 150px;
  margin-right: 90px;
}
.button:hover{

  color: black; /* Change text color on hover */
  background-color: rgb(207, 207, 227); /* Change background color on hover */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8); /* Increase shadow intensity on hover */
  padding-right:20px;
  padding-left: 20px;
}
.button:active{
  opacity: 0.2; /* Adjust transparency on active click */
  box-shadow: none; /* Remove shadow on active state */
}

body{
/*things like text etc. gets inherited form upper section to lower section */
margin: 0;
height: 3000px;
margin-top: 100px;
padding-left: 115px;
}
.sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 40px;
}

@media screen and (min-width: 351px) and (max-width: 959px) {
  .sections {
      grid-template-columns: repeat(2, 1fr);
  }
}